footer {
  background-color: #3a3a3a;
  height: 60px;
  color: white;
  width: auto;
  flex-shrink: 0;
  padding-top: 15px;
}

footer p {
  @media (max-width: 376px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 13px;
  }
}
