.banner-header {
  background-color: #8e8b86;
  color: #fff;

  @media (max-width: 425px) {
    margin-top: 33px;
  }

  @media (min-width: 426px) and (max-width: 1200px) {
    margin-top: 15px;
  }

  @media (min-width: 1200px) {
    margin-top: 9px;
  }
}
