html,
body {
  height: 100%;
}

body {
  font-size: 17px;
  display: flex;
  flex-direction: column;

  p {
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }
}

/* wrap-container */
.wrap-container {
  margin-top: 7%;
  flex: 1 0 auto;

  // @media (min-width: 496px) and (max-width: 596px) {
  //   margin-top: 10%;
  // }

  // @media (min-width: 425px) and (max-width: 495px) {
  //   margin-top: 18%;
  // }

  @media (min-width: 1024px) {
    margin-top: 4%;
  }

  @media (max-width: 425px) {
    margin-top: 10%;
  }
}
